<!doctype html>
<html>
<head>
  <title>{{page_title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/dist/output.css" rel="stylesheet">
</head>
<body>
  <main>
    <form action="#" class="add_entry">

    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.url) }}


      <div class="add_entry_name"><input type="text" name="url"></div>
      <button class="add_entry_save" type="submit" value="save">button</button>
    </form>
  </main>
</body>
</html>












<!--
class Urls(Base):
 __tablename__ = "urls"
id = db.Column(db.Integer, primary_key=True)
url = db.Column(db.String)
 ca_org = db.Column(db.String(255))
 ca_issuer = db.Column(db.String(255))
 expiration_date = db.Column(db.DateTime)

-->
