<!doctype html>
<html>
<head>
  <title>{{page_title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/dist/output.css" rel="stylesheet">
</head>
<body>
  <main>
    <section class="add_entry">
      <div class="add_entry_name"><input type="url"></div>
      <div class="add_entry_reminder"></div>
      <div class="add_entry_ca"></div>
      <button class="add_entry_save"></button>
    </section>
    {% block entries %}
    <section class="entry"> <!-- the box around each element -->
      <div class="entry_name">{{entry_name}}</div>
      <div class="entry_status">{{entry_status}}</div>
      <div class="entry_exp">{{entry_exp}}</div>
      <div class="entry_ca">{{entry_ca}}</div>
      <button class="entry_reminders">Edit reminders</button>
      <button class="entry_delete"></button>
    </section>
    {% endblock %}

  </main>
</body>
</html>
