<!doctype html>
<html>
<head>
  <title>{{page_title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/dist/output.css" rel="stylesheet">
</head>
<body>
  <main>
   <p>Creation of user accounts is currently closed.</p>
   <input type="username"></input>
   <input type="password"></input>
  </main>
</body>
</html>
